body {
  background-color: rgb(224, 230, 232);
}
.outer {
  display: flex;
  margin: 50px;
  padding: 200px;
}

.inner {
  height: 330px;
  width: 260px;
  text-align: center;
  border-radius: 10px;
  margin: 10px;
  background-color: white;
}
.inner:hover {
  box-shadow: 0 8px 16px black;
  transform: 2s;
  border: 3px solid darkblue;
}

h1 {
  color: darkblue;
}

button {
  background-color: darkblue;
  color: white;
  height: 35px;
  width: 120px;
  border-radius: 10px;
}